In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Practice2').getOrCreate()

In [4]:
spark

In [8]:
df_pyspark= spark.read.option('header','true').csv('data.csv',inferSchema=True)

In [9]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Trevor| 29|         3|
|  Adam| 40|         5|
|   Eve| 34|        20|
|   Max| 23|         1|
+------+---+----------+

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [11]:
df_pyspark= spark.read.csv('data.csv',header=True,inferSchema=True)

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [14]:
df_pyspark.head(3)

[Row(Name='Trevor', Age=29, Experience=3),
 Row(Name='Adam', Age=40, Experience=5),
 Row(Name='Eve', Age=34, Experience=20)]

In [15]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Trevor| 29|         3|
|  Adam| 40|         5|
|   Eve| 34|        20|
|   Max| 23|         1|
+------+---+----------+

In [18]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.select('Name','Experience').show()

+------+----------+
|  Name|Experience|
+------+----------+
|Trevor|         3|
|  Adam|         5|
|   Eve|        20|
|   Max|         1|
+------+----------+

In [20]:
df_pyspark['Name']

Column<'Name'>

In [21]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [23]:
df_pyspark.describe().show()

+-------+------+-----------------+----------------+
|summary|  Name|              Age|      Experience|
+-------+------+-----------------+----------------+
|  count|     4|                4|               4|
|   mean|  null|             31.5|            7.25|
| stddev|  null|7.234178138070236|8.65544144839919|
|    min|  Adam|               23|               1|
|    max|Trevor|               40|              20|
+-------+------+-----------------+----------------+

In [26]:
### Adding columns in dataframe
df_pyspark= df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)

In [27]:
df_pyspark.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 years|
+------+---+----------+------------------------+
|Trevor| 29|         3|                       5|
|  Adam| 40|         5|                       7|
|   Eve| 34|        20|                      22|
|   Max| 23|         1|                       3|
+------+---+----------+------------------------+

In [28]:
### Drop the column
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [32]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Trevor| 29|         3|
|  Adam| 40|         5|
|   Eve| 34|        20|
|   Max| 23|         1|
+------+---+----------+

In [ ]:
## Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()