## Pyspark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Practice5').getOrCreate()

In [3]:
spark

In [11]:
df_pyspark = spark.read.csv('data.csv', header=True, inferSchema=True)

In [12]:
df_pyspark.show()

+------+----+----------+------+------------+
|  Name| Age|Experience|Salary|  Department|
+------+----+----------+------+------------+
|Trevor|  29|         3| 20000|         IOT|
|  Adam|  40|         5| 30000|Data Science|
|   Eve|  34|        20|100000|    Big Data|
|   Max|  23|         6| 70000|    Big Data|
|   Joe|  34|         3| 18000|Data Science|
|   Bob|null|      null|  null|         IOT|
|   Rob|  54|        12|  null|    Big Data|
|   Rob|  45|        13| 60000|         IOT|
|Trevor|  29|         3| 20000|         IOT|
|   Eve|  34|        20|100000|Data Science|
+------+----+----------+------+------------+

In [13]:
## GroupBy
df_pyspark.groupBy('Name')

In [14]:
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Age): bigint, sum(Experience): bigint, sum(Salary): bigint]

In [15]:
df_pyspark.groupBy('Name').sum().show()

+------+--------+---------------+-----------+
|  Name|sum(Age)|sum(Experience)|sum(Salary)|
+------+--------+---------------+-----------+
|Trevor|      58|              6|      40000|
|   Joe|      34|              3|      18000|
|   Bob|    null|           null|       null|
|  Adam|      40|              5|      30000|
|   Eve|      68|             40|     200000|
|   Rob|      99|             25|      60000|
|   Max|      23|              6|      70000|
+------+--------+---------------+-----------+

In [16]:
df_pyspark.groupBy('Department').sum().show()

+------------+--------+---------------+-----------+
|  Department|sum(Age)|sum(Experience)|sum(Salary)|
+------------+--------+---------------+-----------+
|         IOT|     103|             19|     100000|
|    Big Data|     111|             38|     170000|
|Data Science|     108|             28|     148000|
+------------+--------+---------------+-----------+

In [17]:
df_pyspark.groupBy('Department').mean().show()

+------------+------------------+------------------+------------------+
|  Department|          avg(Age)|   avg(Experience)|       avg(Salary)|
+------------+------------------+------------------+------------------+
|         IOT|34.333333333333336| 6.333333333333333|33333.333333333336|
|    Big Data|              37.0|12.666666666666666|           85000.0|
|Data Science|              36.0| 9.333333333333334|49333.333333333336|
+------------+------------------+------------------+------------------+

In [18]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    4|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [19]:
df_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     418000|
+-----------+

In [20]:
df_pyspark.groupBy('Name').max().show()

+------+--------+---------------+-----------+
|  Name|max(Age)|max(Experience)|max(Salary)|
+------+--------+---------------+-----------+
|Trevor|      29|              3|      20000|
|   Joe|      34|              3|      18000|
|   Bob|    null|           null|       null|
|  Adam|      40|              5|      30000|
|   Eve|      34|             20|     100000|
|   Rob|      54|             13|      60000|
|   Max|      23|              6|      70000|
+------+--------+---------------+-----------+

In [21]:
df_pyspark.groupBy('Department').avg().show()

+------------+------------------+------------------+------------------+
|  Department|          avg(Age)|   avg(Experience)|       avg(Salary)|
+------------+------------------+------------------+------------------+
|         IOT|34.333333333333336| 6.333333333333333|33333.333333333336|
|    Big Data|              37.0|12.666666666666666|           85000.0|
|Data Science|              36.0| 9.333333333333334|49333.333333333336|
+------------+------------------+------------------+------------------+