In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Practice4').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('data.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Trevor|  29|         3| 20000|
|  Adam|  40|         5| 30000|
|   Eve|  34|        20|100000|
|   Max|  23|         6| 70000|
|   Joe|  34|         3| 18000|
|   Bob|null|      null|  null|
|   Rob|  54|        12|  null|
|  null|  45|        13| 60000|
+------+----+----------+------+

### Filter Operations

In [8]:
## Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Trevor| 29|         3| 20000|
|   Joe| 34|         3| 18000|
+------+---+----------+------+

In [9]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|Trevor| 29|
|   Joe| 34|
+------+---+

In [11]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Trevor| 29|         3| 20000|
|   Joe| 34|         3| 18000|
+------+---+----------+------+

In [15]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Trevor| 29|         3| 20000|
|   Joe| 34|         3| 18000|
+------+---+----------+------+

In [17]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Adam| 40|         5| 30000|
| Eve| 34|        20|100000|
| Max| 23|         6| 70000|
|null| 45|        13| 60000|
+----+---+----------+------+