In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Practice3').getOrCreate()

In [3]:
spark

In [6]:
df_pyspark=spark.read.csv('data.csv', header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Trevor|  29|         3| 20000|
|  Adam|  40|         5| 30000|
|   Eve|  34|        20|100000|
|   Max|  23|         6| 70000|
|   Joe|  34|         3| 18000|
|   Bob|null|      null|  null|
|   Rob|  54|        12|  null|
|  null|  45|        13| 60000|
+------+----+----------+------+

In [8]:
## remove all null values rows
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Trevor| 29|         3| 20000|
|  Adam| 40|         5| 30000|
|   Eve| 34|        20|100000|
|   Max| 23|         6| 70000|
|   Joe| 34|         3| 18000|
+------+---+----------+------+

In [9]:
### drop - > how=all
df_pyspark.na.drop(how="all").show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Trevor|  29|         3| 20000|
|  Adam|  40|         5| 30000|
|   Eve|  34|        20|100000|
|   Max|  23|         6| 70000|
|   Joe|  34|         3| 18000|
|   Bob|null|      null|  null|
|   Rob|  54|        12|  null|
|  null|  45|        13| 60000|
+------+----+----------+------+

In [10]:
### drop - > how=any is default
df_pyspark.na.drop(how="any").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Trevor| 29|         3| 20000|
|  Adam| 40|         5| 30000|
|   Eve| 34|        20|100000|
|   Max| 23|         6| 70000|
|   Joe| 34|         3| 18000|
+------+---+----------+------+

In [11]:
### drop - > how=any, thres =2
df_pyspark.na.drop(how="all",thresh=2).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Trevor| 29|         3| 20000|
|  Adam| 40|         5| 30000|
|   Eve| 34|        20|100000|
|   Max| 23|         6| 70000|
|   Joe| 34|         3| 18000|
|   Rob| 54|        12|  null|
|  null| 45|        13| 60000|
+------+---+----------+------+

In [13]:
### drop - > how=any, thres =3
df_pyspark.na.drop(how="all",thresh=1).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Trevor|  29|         3| 20000|
|  Adam|  40|         5| 30000|
|   Eve|  34|        20|100000|
|   Max|  23|         6| 70000|
|   Joe|  34|         3| 18000|
|   Bob|null|      null|  null|
|   Rob|  54|        12|  null|
|  null|  45|        13| 60000|
+------+----+----------+------+

In [16]:
### drop - > how=any,subset
df_pyspark.na.drop(how="all",subset=['Age']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Trevor| 29|         3| 20000|
|  Adam| 40|         5| 30000|
|   Eve| 34|        20|100000|
|   Max| 23|         6| 70000|
|   Joe| 34|         3| 18000|
|   Rob| 54|        12|  null|
|  null| 45|        13| 60000|
+------+---+----------+------+

In [27]:
### Fill the missing value
df_pyspark.na.fill(1000000,['Experience','Age']).show()

+------+-------+----------+------+
|  Name|    Age|Experience|Salary|
+------+-------+----------+------+
|Trevor|     29|         3| 20000|
|  Adam|     40|         5| 30000|
|   Eve|     34|        20|100000|
|   Max|     23|         6| 70000|
|   Joe|     34|         3| 18000|
|   Bob|1000000|   1000000|  null|
|   Rob|     54|        12|  null|
|  null|     45|        13| 60000|
+------+-------+----------+------+

In [28]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Trevor|  29|         3| 20000|
|  Adam|  40|         5| 30000|
|   Eve|  34|        20|100000|
|   Max|  23|         6| 70000|
|   Joe|  34|         3| 18000|
|   Bob|null|      null|  null|
|   Rob|  54|        12|  null|
|  null|  45|        13| 60000|
+------+----+----------+------+

In [29]:
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols = ['Age','Experience','Salary'],
    outputCols = ["{}_imputer".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [30]:
# add imputatiion cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputer|Experience_imputer|Salary_imputer|
+------+----+----------+------+-----------+------------------+--------------+
|Trevor|  29|         3| 20000|         29|                 3|         20000|
|  Adam|  40|         5| 30000|         40|                 5|         30000|
|   Eve|  34|        20|100000|         34|                20|        100000|
|   Max|  23|         6| 70000|         23|                 6|         70000|
|   Joe|  34|         3| 18000|         34|                 3|         18000|
|   Bob|null|      null|  null|         37|                 8|         49666|
|   Rob|  54|        12|  null|         54|                12|         49666|
|  null|  45|        13| 60000|         45|                13|         60000|
+------+----+----------+------+-----------+------------------+--------------+