In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764040 sha256=2cf2b62c84b0f7138087f6f0d1e051b6e3cfbff1a08e36ad883ec1206c45845f
  Stored in directory: c:\users\parth\appdata\local\pip\cache\wheels\05\75\73\81f84d174299abca38dd6a06a5b98b08ae25fce50ab8986fa1
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [1]:
import pandas as pd
pd.read_csv('data.csv')

     Name  Age
0  Trevor   29
1    Adam   40
2     Eve   34
3     Max   23

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark= spark.read.csv('data.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
df_pyspark = spark.read.option('header','true').csv('data.csv')

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|Trevor| 29|
|  Adam| 40|
|   Eve| 34|
|   Max| 23|
+------+---+

In [12]:
df_pyspark.head()

Row(Name='Trevor', Age='29')

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)